.nav-list {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-header {
  font-size: 105%;
}

.footer p {
  text-align: center;
  margin-bottom: 0px;
  color: #777;
}

.footer {
   text-align: center;
   padding: 30px 0;
   margin-top: 70px;
   border-top: 1px solid #E5E5E5;
   background-color: whiteSmoke;
}
