<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="Shindig"
         version="2.5">
    <display-name>Streams</display-name>

    <!--  tell Spring where it should load the XML file  -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/*.xml
            /WEB-INF/spring-web-servlet.xml
        </param-value>
    </context-param>
    <!--  spring context listener which loads the XML file  -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!--  Camel Servlet  -->
    <servlet>
        <servlet-name>CamelServlet</servlet-name>
        <display-name>Camel Http Transport Servlet</display-name>
        <servlet-class>
            org.apache.camel.component.servlet.CamelHttpTransportServlet
        </servlet-class>
        <init-param>
            <param-name>matchOnUriPrefix</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <!--  Camel Servlet mappings  -->
    <servlet-mapping>
        <servlet-name>CamelServlet</servlet-name>
        <url-pattern>/streams/*</url-pattern>
    </servlet-mapping>

 </web-app>