<div id="topbar" class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container"><div class="nav-collapse">


            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overview <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>      <a href="{{ BASE_PATH }}/index.html" title="Overview">Overview</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/architecture.html" title="Architecture">Architecture</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/concepts.html" title="Concepts">Concepts</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/downloads.html" title="Downloads">Downloads</a>
                        </li>

                        <li>      <a href="../../../latest/streams-examples/" title="Examples">Examples</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/faq.html" title="Frequently Asked Questions">Frequently Asked Questions</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/modules.html" title="Modules">Modules</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>      <a href="{{ BASE_PATH }}/install/java.html" title="Install Java">Install Java</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/install/docker.html" title="Install Docker">Install Docker</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/install/sbt.html" title="Install SBT">Install SBT</a>
                        </li>

                        <li class="dropdown-submenu">
                            <a href="{{ BASE_PATH }}/" title="Credentials">Credentials</a>
                            <ul class="dropdown-menu">
                                <li>      <a href="{{ BASE_PATH }}/credentials/twitter.html" title="Twitter">Twitter</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a href="{{ BASE_PATH }}/" title="Services">Services</a>
                            <ul class="dropdown-menu">
                                <li>      <a href="{{ BASE_PATH }}/services/cassandra.html" title="Cassandra">Cassandra</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/services/elasticsearch.html" title="Elasticsearch">Elasticsearch</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/services/mongo.html" title="Mongo">Mongo</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/services/neo4j.html" title="Neo4j">Neo4j</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>      <a href="{{ BASE_PATH }}/install/git.html" title="Install Git">Install Git</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/install/maven.html" title="Install Maven">Install Maven</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/changelog.html" title="Changelog">Changelog</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/release-setup.html" title="Release Setup">Release Setup</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/release.html" title="Release Process">Release Process</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/website.html" title="Website Management">Website Management</a>
                        </li>

                        <li>      <a href="{{ BASE_PATH }}/code-conventions.html" title="Coding Conventions">Coding Conventions</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-submenu">
                            <a href="{{ BASE_PATH }}/project-info.html" title="Project Information">Project Information</a>
                            <ul class="dropdown-menu">
                                <li>      <a href="{{ BASE_PATH }}/index.html" title="About">About</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/modules.html" title="Project Modules">Project Modules</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/license.html" title="Licenses">Licenses</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/mail-lists.html" title="Mailing Lists">Mailing Lists</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/team-list.html" title="Team">Team</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/source-repository.html" title="Source Code Management">Source Code Management</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/issue-tracking.html" title="Issue Management">Issue Management</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/dependencies.html" title="Dependencies">Dependencies</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/dependency-info.html" title="Dependency Information">Dependency Information</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/dependency-management.html" title="Dependency Management">Dependency Management</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/distribution-management.html" title="Distribution Management">Distribution Management</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/plugin-management.html" title="Plugin Management">Plugin Management</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a href="{{ BASE_PATH }}/project-reports.html" title="Project Reports">Project Reports</a>
                            <ul class="dropdown-menu">
                                <li>      <a href="{{ BASE_PATH }}/checkstyle.html" title="Checkstyle">Checkstyle</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/checkstyle-aggregate.html" title="Checkstyle">Checkstyle</a>
                                </li>
                                <li>      <a href="{{ BASE_PATH }}/rat-report.html" title="Rat Report">Rat Report</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Resources <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>      <a href="http://activitystrea.ms" title="ActivityStreams Homepage">ActivityStreams Homepage</a>
                        </li>

                        <li>      <a href="http://activitystrea.ms/specs/" title="ActivityStreams Specifications">ActivityStreams Specifications</a>
                        </li>

                        <li>      <a href="http://blogs.apache.org/streams/" title="Streams Blog">Streams Blog</a>
                        </li>

                        <li>      <a href="http://wiki.apache.org/incubator/StreamsProposal" title="Streams Proposal Wiki Page">Streams Proposal Wiki Page</a>
                        </li>

                        <li>      <a href="http://www.apache.org/" title="Apache Foundation Info">Apache Foundation Info</a>
                        </li>

                        <li>      <a href="http://www.apache.org/foundation/sponsorship.html" title="Sponsorship">Sponsorship</a>
                        </li>

                        <li>      <a href="http://www.apache.org/foundation/thanks.html" title="Thanks">Thanks</a>
                        </li>
                    </ul>
                </li>
            </ul>





            <ul class="nav pull-right"><li>

                <a href="https://twitter.com/ApacheStreams" class="twitter-follow-button" data-show-count="true" data-align="right" data-size="large" data-show-screen-name="true" data-lang="en" style="display: inline-block;"><iframe style="display: inline-block; width: 30px; height: 19px; border: 0px;"></iframe></a>
                <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </li></ul>


        </div>

        </div>
    </div>
</div>

